
.Header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  height: 500px;
  /* text-align: center; */
  /* background-color: blue; */
  background-repeat: no-repeat;
  /* background-size: 150% 150%; */
  color: white;
}

body{
  /* background-image: url(https://jooinn.com/images/sand-waves-2.jpg); */
  background-color: olive;
}
/* red box when input is invalid */
input.invalid-form {
    border: red solid 3px;
    box-shadow: 0 0 7px rgb(223, 34, 113);
  }

.post-it {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: solid 3px purple;
}

.cards-list {
  width: 70%;
  margin: 10px;
  border: solid 10px black;
}

.flex {
  display: flex;
  flex-direction: row;
}