
.Header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {

opacity: 100%;
}

.App {
  z-index: 5;
}

.background {
  background-image: url(https://jooinn.com/images/sand-waves-2.jpg);
  background-size: cover;
  background-color: tan;
  background-blend-mode: luminosity;
  height: 500px;
  /* text-align: center; */
  /* background-color: blue; */
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}



body{
  

  /* background-color: olive; */
}
/* red box when input is invalid */
input.invalid-form {
    border: red solid 3px;
    box-shadow: 0 0 7px rgb(223, 34, 113);
  }

.post-it {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: solid 10px purple;
  border-radius: 25px;
  /* overflow: scroll; */
  word-break: break-word;
}

.cards-list {
  width: 70%;
  height: 120px;
  margin: 10px;
  border: solid 10px black;
}

.flex {
  display: flex;
  flex-direction: row;
}