
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  height: 500px;
  /* text-align: center; */
  /* background-color: blue; */
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section {
  width: 1000px;
  max-width: 100%;
}

main {
  display: flex;
}

body{
  background-image: url(https://jooinn.com/images/sand-waves-2.jpg);
  /* background-color: olive; */
}

/* red box when input is invalid */
input.invalid-form {
    border: red solid 3px;
    box-shadow: 0 0 7px rgb(223, 34, 113);
  }

/*  beginning of conflicts*/
.post-it {
  background-image: url(https://www.pikpng.com/pngl/b/300-3001249_us-know-the-thrill-of-spotting-a-little.png);
  text-align: center;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin: 10px; */
  padding: 15px;
  margin: 10px;
  flex: 0 0 auto;
  /* border: solid 3px purple; */
}

.cards-list {
  width: 70%;
  margin: 10px; 
  /* border: solid 10px black; */

/*   width: 20%; */
  padding: 10px;
  box-sizing: border-box;
  word-break: break-all;
}
/*  end of conflicts here*/

.post-it > div {
  background-color: rgb(29, 27, 24);
  padding: 5px;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-base {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cards-list{
  margin: 0 -10px;
}